<div class="content">
    
    <div class="row">
        <div class="col-mod-12">
            
            <ul class="breadcrumb">
                <li><a href="#/">MTaaS</a></li>
                <li class="active">Devices</li>
            </ul>
            
            <!--<div class="form-group hiddn-minibar pull-right">
                <input type="text" class="form-control form-cascade-control nav-input-search" size="20" placeholder="Search through site"/>

                <span class="input-icon fui-search"></span>
            </div>-->
            
            <h3 class="page-header"><i class="fa fa-mobile"></i> Device
                <i class="fa fa-info-circle animated bounceInDown show-info"></i></h3>
            
            <blockquote class="page-information hidden">
                <p>
                    Devices information.
                </p>
            </blockquote>
        </div>
    </div>
    <!--<link href="device.css" rel="stylesheet">-->
    <div class="profile-tabs">
        
        <ul id="myTab" class="nav nav-tabs" ng-init="deviceTab = 'devices'">
            <li ng-class="{ active: deviceTab === 'devices' }" ng-click="devicesCtrl.getAll()">
                <a href data-toggle="tab" ng-click="devicesCtrl.getAll(); devicesCtrl.cancelInterval(); deviceTab = 'devices'">Devices</a>
            </li>
            <li ng-class="{ active: deviceTab === 'launch' }">
                <a href data-toggle="tab" ng-click="devicesCtrl.updateAvailableDevices(); deviceTab = 'launch'">Launch</a>
            </li>
        </ul>
        
        <div id="myTabContent" class="tab-content">
            
            <div ng-class="{ active: deviceTab === 'devices' }" class="tab-pane fade in" id="devices" ng-show="deviceTab === 'devices'">
                <div class="col-md-12">
                    <div class="panel ">
                        <div class="panel-body ">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <!--<th>ID</th>-->
                                    <!--<th>Create Time</th>-->
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>CPU</th>
                                    <th>Android Version</th>
                                    <th>ADB</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="device in devicesCtrl.devices">
                                    <!--<td>{{ device.id }}</td>-->
                                    <!--<td>{{ device.create_datetime | date:'yyyy-MM-dd HH:mm:ss' }}</td>-->
                                    <td>{{ device.spec.brand }}</td>
                                    <td>{{ device.spec.model }}</td>
                                    <td>{{ device.spec.cpu }}</td>
                                    <td>{{ device.spec.os_release }}</td>
                                    <td>{{ device.adb_uri }}</td>
                                    <td>{{ device.status }}</td>
                                    <td>
                                        <!--<button type="button" class="btn btn-info" ng-click="devicesCtrl.view(device)">-->
                                            <!--<i class="fa fa-fw fa-eye"></i>-->
                                        <!--</button>-->
                                        <button type="button" class="btn btn-danger" ng-click="devicesCtrl.delete(device)">
                                            <i class="fa fa-fw fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-class="{ active: deviceTab === 'launch' }" class="tab-pane fade in" id="launch" ng-show="deviceTab === 'launch'">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body" ng-init="newDevice = {}">
                            <form action class="form-horizontal row-border" style="margin-top: 25px">
                                <div class="container-fluid">
                                    <!--<div class="row col-md-offset-1">-->
                                        <!--<div class="row col-md-4">-->
                                            <!--Search: <input ng-model="query">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="col-md-3 control-label">Brand</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" ng-model="selectedBrand">
                                                        <option></option>
                                                        <option ng-repeat="device in devicesCtrl.availableDevices | unique: 'spec.brand'">{{ device.spec.brand }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="col-md-3 control-label">Model</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" ng-model="selectedModel">
                                                        <option></option>
                                                        <option ng-repeat="device in devicesCtrl.availableDevices | filterBy: ['spec.brand']: selectedBrand | unique: 'spec.model'">{{ device.spec.model }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                    </div>
                                    
                                    <div class="row">
                                        
                                        <div class="col-md-5">
                                            <ul class="devices">
                                                <li ng-repeat="device in devicesCtrl.availableDevices | filter:selectedBrand | filter:selectedModel" ng-if="$even" ng-click="devicesCtrl.create(device)" class="thumbnail device-listing">
                                                    <img class="device-thumb" ng-src="img/device/{{device.spec.brand + ' - ' + device.spec.model}}.jpg" alt="{{device.spec.model}}">
                                                    <p>
                                                        Brand: {{ device.spec.brand }}<br>
                                                        Model: {{ device.spec.model }}<br>
                                                        CPU: {{ device.spec.cpu }}<br>
                                                        Android Version: {{ device.spec.os_release }}<br>
                                                        Status: {{ device.status }}<br>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-5">
                                            <ul class="devices">
                                                <li ng-repeat="device in devicesCtrl.availableDevices | filter:selectedBrand | filter:selectedModel" ng-if="$odd" ng-click="devicesCtrl.create(device)" class="thumbnail device-listing">
                                                    <img class="device-thumb" ng-src="img/device/{{device.spec.brand + ' - ' + device.spec.model}}.jpg" alt="{{device.spec.model}}">
                                                    <p>
                                                        Brand: {{ device.spec.brand }}<br>
                                                        Model: {{ device.spec.model }}<br>
                                                        CPU: {{ device.spec.cpu }}<br>
                                                        Android Version: {{ device.spec.os_release }}<br>
                                                        Status: {{ device.status }}<br>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /panel body -->
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>