<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Loading Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body >
<div class="login-box">
    <h1><i class='fa fa-bookmark'></i>&nbsp;Welcome To MTaaS </h1>
    <hr>
    <h5>LOGIN</h5>

    <div class="input-box">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <form role="form" ng-controller="loginController as loginCtrl">
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class='fa fa-envelope'></i></span>
                        <input type="email" class="form-control" ng-model="loginCtrl.email" placeholder="email">
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class='fa fa-key'></i></span>
                        <input type="password" class="form-control" ng-model="loginCtrl.password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn  btn-block  btn-submit pull-right" ng-click="loginCtrl.submit()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- input-box -->
</div>
<!-- lock-box -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script>
    var app = angular.module('loginApp', []);
    app.controller('loginController', ['$http', function ($http) {
        var loginCtrl = this;
        loginCtrl.submit = function () {
            var data = {
                email: loginCtrl.email,
                password: loginCtrl.password
            };
            $http.post('/login', data).success(function (data, status) {
                console.log(JSON.stringify(data));
            });
        };
    }]);
</script>


</body>
</html>